name: CI

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'Cargo.toml' 
      - 'README.md'

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test Suite (Windows)
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build
        run: cargo build --verbose

      - name: Run Tests
        run: cargo test --verbose